version: "3.9"
services:
  adguard: #check GitHub to resolve port 53 issue: https://github.com/AdguardTeam/AdGuardHome/wiki/Docker => resolved
    container_name: AdGuard
    image: adguard/adguardhome
    volumes:
      - adguard_work:/opt/adguardhome/work
      - adguard_config:/opt/adguardhome/conf
    ports:
      - 53:53/tcp
      - 53:53/udp
#       - 67:67/udp
#       - 68:68/tcp
#       - 68:68/udp
      - 1201:80/tcp
#       - 443:443
      - 3005:3000/tcp
      - 853:853/tcp
#       - 784:784
#       - 8853:8853
#       - 5443:5443
    restart: always
    environment:
      - TZ=Europe/Amsterdam
  cup:
    image: ghcr.io/sergi0g/cup:latest
    container_name: cup # Optional
    command: serve
    ports:
      - 8008:8000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
  influxdb:
    container_name: InfluxDB
    image: influxdb:latest
    volumes:
      - influxdb:/var/lib/influxdb
    ports:
      - 8086:8086
    network_mode: host
    restart: always
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - INFLUXDB_UDP_ENABLED=true
      - INFLUXDB_ADMIN_ENABLED=true
  #mqtt:
    #container_name: MQTT
    #image: eclipse-mosquitto:latest
    #volumes:
#      - mqtt_config:/mosquitto/config
#      - mqtt_data:/mosquitto/data
#      - mqtt_log/mosquitto/log
    #ports:
 #     - 1883:1883
   #   -  9001:9001
    #restart: always
  # komodo-agent:
  #   image: ghcr.io/moghtech/komodo-periphery:latest
  #   container_name: komodo-agent
  #   restart: unless-stopped
  #   ports:
  #     - "8120:8120"
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock:ro
  #     - /proc:/proc
  #     - ${PERIPHERY_ROOT_DIRECTORY:-/etc/komodo}:${PERIPHERY_ROOT_DIRECTORY:-/etc/komodo}
  #   environment:
  #     # Optioneel: geef een naam of beschrijving van de host door
  #     KOMODO_AGENT_NAME: dockerserver1
  #     PERIPHERY_ROOT_DIRECTORY: ${PERIPHERY_ROOT_DIRECTORY:-/etc/komodo}
  nginx-proxy-manager:
    image: 'docker.io/jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    container_name: nginx-proxy-manager
    # network_mode: host
    environment: # Uncomment this if IPv6 is not enabled on your host
      - DISABLE_IPV6=true # Uncomment this if IPv6 is not enabled on your host
    volumes:
      - ./npm/data:/data
      - ./npm/letsencrypt:/etc/letsencrypt
  
  nodered:
    container_name: NodeRed
    image: nodered/node-red:latest
    #devices:
  #    - /dev/ttyACM0:/dev/ttyACM0
    volumes:
      - nodered_data:/data
    ports:
      - 1880:1880
    restart: always
    environment:
      - TZ=Europe/Amsterdam
    privileged: true
    group_add:
      - dialout

  volume_sharer:
    container_name: Volume-Sharer
    image: gdiepen/volume-sharer
    volumes:
      - /var/lib/docker/volumes:/docker_volumes
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 139:139
      - 445:445
    network_mode: host
    restart: always
  zwave-js-ui:
    container_name: zwave-js-ui
    image: zwavejs/zwave-js-ui:latest
    restart: always
    tty: true
    stop_signal: SIGINT
    environment:
      - SESSION_SECRET=9291
      - ZWAVEJS_EXTERNAL_CONFIG=/usr/src/app/store/.config-db
      # Uncomment if you want log times and dates to match your timezone instead of UTC
      # Available at https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
      - TZ=Europe/Amsterdam
    devices:
      # Do not use /dev/ttyUSBX serial devices, as those mappings can change over time.
      # Instead, use the /dev/serial/by-id/X serial device for your Z-Wave stick.
      - /dev/ttyACM0:/dev/zwave
    volumes:
      - zwave_config:/usr/src/app/store
   # Or by using local folder
   # - ./store:/usr/src/app/store
    ports:
      - 8091:8091 # port for web interface
      - 3000:3000 # port for Z-Wave JS websocket server
    group_add:
      - dialout
   
volumes:
  adguard_work:
  adguard_config:
  nodered_data:
  influxdb:
  zwave_config:
